body{
    background-color: #f2f6f7;
}


.nav-bar{
    background-color: rgba(38, 194, 129, 0.6);
}

.btn {
    padding: 8px 25px;
    background-color: rgba(38, 194, 129, 1);
    color: white;
}

.select-wrapper{
    border: 2px solid rgba(34,139,34,0.8);
}

.btn:focus{
    box-shadow: none;

}

#btnCreate, #btnLogin{
    background-color: #3c695a;
}

.copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;;
    text-align: center;
    padding: 20px 0;
    font-family: 'Quicksand', sans-serif;
    color: #1a1a56;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.modal {
    display: block;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
    overflow: auto;
}

.modal-content {
    position: relative;
    top:150px;
    background-color: white;
    margin: auto;
    padding: 10px 20px;


    border: 1px solid lightgrey;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animate;
    -webkit-animation-duration: 0.3s;
    animation-name: animate;
    animation-duration: 0.3s

}

@keyframes animate {
    from {top:0; opacity:0}
    to {top:150px; opacity:1}
}


@-webkit-keyframes animate {
    from {top:0; opacity:0}
    to {top:150px; opacity:1}
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.cards-container{
    width: 98%;
    border-top: 2px solid black;
    margin: 0 auto;

}

.card{
    width: 300px;
}

.card:hover{
    cursor: all-scroll;
}


.card-btn{
    padding: 5px;
}

.more-btn{
    min-width:140px;
}

.menu-visit{
    background-color: #ebe6ea;
    position: absolute;
    z-index: 20;
    max-width: 180px;
    right: -10px;
    bottom: -45px;

}

.menu-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-ul li{
    line-height: 30px;
    cursor: pointer;
}

.menu-ul li:not(:last-child){
    border-bottom: 1px solid rgba(34,139,34,0.8);
}

.menu-ul li:hover{
    background-color: rgba(34,139,34,0.8);
    color: white;
}

.selected-drag{
    opacity: 0.7;
}
.form-group{
    margin: 10px;
}

